

<div class="row">
    <div class="col-md-12">
        <div class="cmParagraph">
            <div class="cmFontTitle" ng-show=" (JSONDATA.settings.Type=='RSS') && (JSONDATA.settings.UseCovarianceMatrix==false)">Image in SNR units for root-sum-of-squares (RSS) array combination</div>
            <div class="cmFontTitle" ng-show=" (JSONDATA.settings.Type=='RSS') && (JSONDATA.settings.UseCovarianceMatrix==true)">Image in SNR units for root-sum-of-squares (RSS) array combination with noise weighting</div>

            <div class="cmFontTitle" ng-show=" JSONDATA.settings.Type=='B1'">Image in SNR units for B1-weighted array combination</div>
            <div class="cmFontTitle" ng-show=" JSONDATA.settings.Type=='SENSE'">Image in SNR units for SENSE array combination</div>
            <div class="cmText">

                The method requires prior knowledge of the signal noise in k-space, which is estimated from noise-only data, i.e., acquired without RF pulses. These data could be acquired as a separated scan or automatically as noise pre-scan incorporated in the pulse sequence. The elements of the noise covariance matrix &Psi; can be estimated from N noise-only data samples as:

                $$ { \Psi_{ij}=\frac{1}{N} \sum_{k=1}^{N} n(k)_i n_j^*(k) } $$

                Where the superscript <sup>*</sup> indicates the complex conjugate, the indices i,j =1,2, .., n<sub>coils</sub> specify the receive coil of the array, and n<sub>j</sub>(k) is the zero-mean k<sup>th</sup> noise data sample received by the k<sup>th</sup> coil.


                The noise covariance matrix needs to be scaled by the noise equivalent bandwidth of the receiver (&Psi;,<sub>scaled</sub>=&Psi;/B<sub>eq</sub>) which accounts for the fact that the input noise spectrum is not flat across the full receive bandwidth (1). The noise equivalent bandwidth is calculated from noise only data as:


                $$ { B_{eq}=\frac{1}{N}\sum_{k=1}^{N} \frac{|H(k)|^2}{|H(0)|^2} } $$

                Where H(k)	is the power spectrum and H(0)	is the response at the center. An image where the pixel intensities are in SNR unit can then be calculated as:


                <div ng-show="(JSONDATA.settings.Type=='RSS') && (JSONDATA.settings.UseCovarianceMatrix==true)">
                    $$ { SNR= \sqrt{2 (\mathbf{p}^H \Psi^{-1} \mathbf{p}) } } $$
                </div>


                <div ng-show="(JSONDATA.settings.Type=='RSS') && (JSONDATA.settings.UseCovarianceMatrix==false)">
                    $$ { SNR= \sqrt{2}  \frac{\mathbf{p}^H \mathbf{p}}{(\mathbf{p}^H \Psi^{-1} \mathbf{p}) } } $$
                </div>


                <div ng-show="JSONDATA.settings.Type=='B1'">
                    $$ { SNR= \sqrt{2}  \frac{\mathbf{b}^H \Psi_{scaled}^{-1} \mathbf{p}} {\mathbf{b}^H \Psi_{scaled}^{-1} \mathbf{b} } } $$
                </div>

                <div ng-show="JSONDATA.settings.Type=='SENSE'">
                    $$ { SNR= \sqrt{2}  \frac{|\mathbf{u}^T \mathbf{p}|} {\sqrt{\mathbf{u} \Psi_{scaled} \mathbf{u}^T }} } $$
                </div>

                <div ng-show="JSONDATA.settings.Type=='RSS'">
                    Where the superscript <sup>H</sup> indicates the conjugate of the transpose and p is the vector of complex image values for each coil. A factor of √2 was added because the SNR is defined in terms of the real channel noise component, whereas the two quadrature channels receive the real and imaginary components of the noise, assumed to be  independent from each other. Note that for unity noise gain, the reconstructed images need to be scaled by √N after the FFT, where N is the number of actual data samples and does not include zero-filling (1).
                </div>  

                <div ng-show="JSONDATA.settings.Type=='B1'">
                    Where the superscript <sup>H</sup> indicates the conjugate of the transpose and b is the vector of complex coil sensitivity and p is the vector of complex image values for each coil. A factor of √2 was added because the SNR is defined in terms of the real channel noise component, whereas the two quadrature channels receive the real and imaginary components of the noise, assumed to be  independent from each other. Note that for unity noise gain, the reconstructed images need to be scaled by √N after the FFT, where N is the number of actual data samples and does not include zero-filling (1).
                </div>

                <div ng-show="JSONDATA.settings.Type=='SENSE'">
                    Where the superscript <sup>T</sup> ndicates the transpose, p is the vector of complex image values for each coil and u is the vector of complex coil unmixing coefficients(6)

                    $$ { \mathbf{u}=(\mathbf{S}^H \Psi_{scaled}^{-1} \mathbf{S})^{-1} S^{H} \Psi_{scaled}^{-1} } $$

                    Where S denotes the encoding matrix containing the receive sensitivities of all coils at the reconstructed voxel position and all aliased positions in case of undersampling. After substituting the unmixing coefficients, the SNR at voxel r<sub>0</sub> can be re-written as:

                    $$ { SNR(\mathbf{r_{0}})= \sqrt{2}  \frac{|\mathbf{u}^T \mathbf{p}|} {\sqrt{(\mathbf{S}^H \Psi_{scaled}^{-1} \mathbf{S} })_{0,0}} } $$

                    The “0,0” subscript in the denominator indicates the diagonal element of the matrix in parentheses with an index associated with the target position r<sub>0</sub>.

                    A factor of √2 was added because the SNR is defined in terms of the real channel noise component, whereas the two quadrature channels receive the real and imaginary components of the noise, assumed to be  independent from each other. Note that for unity noise gain, the reconstructed images need to be scaled by √N after the FFT, where N is the number of actual data samples and does not include zero-filling (1).

                    In the case of SENSE array combination, a geometry factor g, which is always at least equal to one, can be defined as (6):


                    $$ { g(\mathbf{r_{0}})= \sqrt{(\mathbf{S}^H \Psi_{scaled}^{-1} \mathbf{S} )^{-1}_{0,0} (\mathbf{S}^H \Psi_{scaled}^{-1} \mathbf{S} )_{0,0} }  } $$

                </div>

            </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-12">
        <div class="cmParagraph">
            <div class="cmFontTitle">Results</div>




            <div class="mroLcontainer" >
                <div class="mroLflexitem" >
                    <div id="noisecovariance">
                    </div>
                </div>
                <div class="mroLflexitem" >
                    <div id="noisecoefficient">
                    </div>
                </div>
            </div>






            <div class="mroRcontainer">
                <div class="mroRflexitem">
                    <div class="mroLcontainer" >
                        <div class="mroLflexitem" >
                            <span class="cmFontTitle" >SNR Map</span>
                        </div>
                    </div>
                </div>

                <div class="mroRflexitem">
                    <div class="mroLcontainer" >
                        <div class="mroLflexitem" >
                            <div>
                                <cm-imshow thedata="SNR.arrayData"></cm-imshow >
                            </div>
                        </div>
                        <div class="mroLflexitem" >
                            <div class="mroRcontainer">
                                <div class="mroRflexitem">
                                    <p id="{{aSNRTID}}"></p>
                                </div>
                                <div class="mroRflexitem">
                                    <div class="mroLcontainer"style="max-width: 30vw">
                                        <div ng-repeat="(key, value) in JSONDATA.settings">
                                            <div class="mroLflexitem" >
                                                <cm-settings-dictionary option='{{key}}' value='{{value}}'></cm-settings-dictionary>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>








        </div>
    </div>
</div>




<div class="row" ng-repeat="roi in ROI track by $index" ng-show="!(isUndefined(ROI))">

    <div class="mroRcontainer" >
        <div class="mroflexitem">
            <div class="mroLcontainer">
                <div class="mroLflexitem">
                    <span class="cmFontTitle" >SNR of region {{roi.id}}</span>
                </div>
            </div>
        </div>
        <div class="mroRflexitem">
            <cm-imshow-with-histogram-and-crop thedata="SNR.arrayData" theroi="roi" transform="SNR.transform" lut="SNR.LUT"></cm-imshow-with-histogram-and-crop>
        </div>
    </div>
</div>


<div class="mroRcontainer" ng-show="showGroup">
    <div class="mroRflexitem">
        <div class="mroLcontainer">
            <div class="mroLflexitem">
                <span class="cmFontTitle">SNR of the Group region </span>
            </div>
        </div>
    </div>
    <div class="mroRflexitem">
        <cm-imshow-with-histogram-and-crop thedata="SNR.arrayData" thegroup="Group" transform="SNR.transform" lut="SNR.LUT"></cm-imshow-with-histogram-and-crop>
    </div>
</div>






<div class="row">

    <div class="col-md-12">
        <div class="mroRcontainer">
            <div class="mroRflexitem">

                <div class="mroLcontainer" >
                    <div class="mroLflexitem" >
                        <div id="coilsensitivityshow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mroRflexitem">
                <div class="mroLcontainer" >
                    <div class="mroLflexitem" >
                        <div id="gfactor">
                        </div>
                    </div>
                    <div class="mroLflexitem" >
                        <div id="igfactor">
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <mroptimum-report-snr-acknowledgement></mroptimum-report-snr-acknowledgement>
        <mroptimum-report-snr-reference articles="articles"></mroptimum-report-snr-reference>
    </div>
</div>
